.flex-container-languages{
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: flex-start;
  }
  .languages-title{
    
    color: #3dd2cc;
  }
  .item-content{
    color: #3e6b89;
    padding: 12px;
    background-color: #464343 ;

  }
