.items-list-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.item-container{
    padding: 1%;
    perspective: 1000px;

}
.item-content{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.5s;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
}
.item-container:hover .item-content {
    
    transform: rotateY(180deg);
    
  }

 
.item-content-logo, .item-content-data {
    position: absolute;
    backface-visibility: hidden;
    color: #3e6b89;
    background-color: #464343 ;
    padding: 5%;
    }
.item-content-logo{



  }
.item-content-data{
    border:  solid 1px black;
    border-bottom: solid 5px black;
    border-left: solid 3px black;
    border-radius: 10px;
    transform: rotateY(180deg);
    
  }
